body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-bar {
    margin-left: 240px !important;
    font-size: 1.3rem;
    
}
.nav-item{
    margin-left: 20px !important;
}
.home{
    width: 100vw;
    height: 100vh;
}

.navbar{
    background-color:#52b2cf !important ;
    color: white !important;
    /* position:fixed; */
    width: 100%;
}


.join-us-btn{
    background:linear-gradient(rgb(232, 167, 167), rgba(225, 76, 101),rgb(240, 28, 95));
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 1.3rem;
    color: white;
    border: 3px solid white;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    margin-right: 100px;
}

.benifit-bar{
    background-color: rgb(248, 213, 36);
    padding-top: 10px ;
    padding-bottom: -10px ;
    justify-content: space-evenly;
    align-items: center;
   
    
}

.flex-box-home{
    background: url("../Images/home\ page/background.png");
    background-position:left;
    background-repeat: no-repeat;
    background-size:cover;
    width:100vw;
    height:90vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    position: relative;

}

.welcome{
    margin-left: 200px;
}


.left-home .main-img{
    margin-left: 150px;
    
}

.left-home img{
    margin-top: 10px;
}

.line{
    margin-left: 200px;
}

.right-home{
    /* padding-left: 100px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
    
}


.right-home p{
    width: 500px;
    margin-left: 150px;
  text-align: justify;
}



.btn-explore{
    margin-left: 150px;
}

.i1{
    position: absolute;
    top: 20px;
    left: 470px;
    animation-name: pendulum;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center;
}
@keyframes pendulum {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
  }
.i2{
    position: absolute;
    top: 65vh;
    left: 660px;
}

.side-btn{
    position: absolute;
    right: -20px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #52b2cf;
    color: white;
    border: none;
    

}

.side-btns{
    background-color: #52b2cf;
}

.btn1{
    top: 43vh;
}

.btn2{
    top:49vh ;
}

.btn3{
    top: 55vh;
}

.btn4{
    top:61vh ;
}