body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-family: 'Libre Baskerville', serif;
}

#current-time{
   /* background-color: rgb(240, 28, 95); */
   padding: 6px 13px;
   border-radius: 10px;
    margin-left: 27vw;
    
}

@media screen and (max-width:670px) {
    #current-time{
        visibility: hidden;
    }
    
}
.nav-bar {
    /* margin-left: 240px !important; */
    font-size: 1.3rem;
    /* margin-left: 70vw; */
    
}
.nav-item{
    margin-left: 20px !important;
}
.home{
    width: 100vw;
    /* height: 100vh; */
}

.navbar{
    background-color:#52b2cf !important ;
    color: white !important;
    /* position:fixed; */
    width: 100%;
}

.nav-bar form button{
    position: absolute;
    right: 0px;
}

.join-us-btn{
    background:linear-gradient(rgb(232, 167, 167), rgba(225, 76, 101),rgb(240, 28, 95));
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 1.3rem;
    color: white;
    border: 3px solid white;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    margin-right: 100px;
}

.benifit-bar{
    background-color: rgb(248, 213, 36);
    padding-top: 10px ;
    padding-bottom: -10px ;
    justify-content: space-evenly;
    align-items: center;
   
    
}

@media screen and (max-width:927px) {
    .benifit-bar img{
        display: none;
    }
    
}

.flex-box-home{
    /* background: url("../Images/home\ page/background.png"); */
    /* background: url("../Images/home\ page/mentoons homepage illustration bg.png"); */
    background-position:left;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width:100vw;
    /* height:90vh; */
    display: flex;
    justify-content: space-between;
    position: relative;

}


.left-home .main-img{
    margin-left: 100px;
    width: 500px;
    
}

.left-home img{
    display: block;
    margin-top: 10px;
}

.left-home .welcome{
    width: 300px;
    margin-left: 200px;

}



.line{
    margin-left: 200px;
}

.right-home{
    margin-right: 70px;
    margin-left: 150px;
    
}

.right-home .heading{
    width: 650px;
}


.right-home p{
    width: 530px;
    margin-left: 100px;
  text-align: justify;
  font-size: 1.2rem;
}

@media screen and (max-width:550px) {
    .right-home p{
        width: 80vw;
        margin: auto;
    }
}

.right-home .video-link{
    /* margin-left: 150px; */
    font-size: 20px;
    text-align: center;
}

.right-home .video-link a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    margin-top: 10px;
    background-color: rgb(248, 48, 81);
    padding: 5px 15px;
    color: white;
}




/* .btn-explore{
    margin-left: 250px;
} */

/*  **************** sun rotating like pendulam animation ************** */
/* .i1{
    position: absolute;
    top: 26px;
    left: 490px;
    animation-name: pendulum;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center;
}
@keyframes pendulum {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
  } */

.i2{
    position: absolute;
    top: 65vh;
    left: 38vw;
    z-index: -1;
    
}



.i3{
    position: absolute;
    top: 130px;
    left: 10px;
    z-index: -1;
}

@media screen and (max-width:1100px) {
    .i2{
        width: 200px;
        top: 80vh;
    }
    
    .i3{
        top: 165px;
        width: 100px;
    }

    .i4{
        top: 155px;
        left: 37vw;
        width: 120px;

    }
    
}

@media screen and (max-width:700px) {
    .i3{
        top: 200px;
        width: 100px;
    }
    
    .i4{
        top: 155px;
        left: 37vw;
        width: 120px;
    }
}

@media screen and (max-width:850px) {
    .i4{
        left: 70vw !important;
        right: 10px;
        width: 140px !important;
    }
    
}

@media screen and (max-width: 480px){
.i4{
    left: 64vw !important;
}
}

@media screen and (max-width: 550px){
.right-home p {
  
    margin: auto !important;
}
}
.i4{
    position: absolute;
    top: 155px;
    left: 37vw;
    z-index: -1;
}

.video{
    position: absolute;
    top:68vh;
    left: 40vw;
}

.side-btns{
    position: absolute;
    /* background-color: #52b2cf; */
    top: 44vh;
    right: -3px;
}

.side-btn{
    padding: 10px 20px;
    /* background-color:#52b2cf; */
    color: white;
    border: none;
    display: block;
    width: 50px;
    transition: transform 0.2s; /* Adding a transition for smooth effect */

}

.side-btn:hover {
    transform: translateX(-20px); 
    cursor: pointer;
}

.btn1{
    background-color: #52b2cf;
}

.btn2{
    background-color: orange;
}

.btn3{
    background-color: rgb(23, 195, 123);
}

.btn4{
    background-color:#0f8add;
}

.mt{
    background-color: rgb(255, 47, 20);
    padding-left: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content{
    /* display: none; */
    position: absolute;
    top: 0px;
    right: 50px;
    width: 250px;
    text-align: justify;
    padding: 8px 15px;
    /* border: 2px solid red; */
    display: none;

}

.c1{
    background-color: rgb(251, 249, 249);
}

.small-flex{
    display: flex;
    justify-content: space-between;
}

.explore-small{
    border: none !important;
    background-color: rgb(255, 47, 20) !important;

}

@media screen and (max-width:1458px) {
    .flex-box-home{
        justify-content: center;
    }

    .right-home .line{
        margin-left: 45px;
    }

   .right-home {
    margin-left: 30px;
   }
    .left-home .main-img{
        width:40vw ;
    }

    .right-home .heading{
        width: 40vw;
    }

    .right-home p{
        margin-left: 50px;
        width: 37vw;
    }

    .left-home .welcome{
        margin-left: 100px;
    }

    .right-home .btn-explore{
        margin-left: 100px;
    }
    
}

@media screen and (max-width:850px) {
    .flex-box-home{
        flex-direction: column;
        justify-content: center;
    }
    .right-home .line{
       display: none;
    }


    .left-home .main-img{
        width:80vw ;
        margin-left: 50px;
    }

    .right-home .heading{
        width: 80vw;
    }

    .right-home p{
        margin-left: 50px;
        width: 70vw;
    }

    .left-home .welcome{
        margin-left: 20vw;
    }

    .i2{
        display: none
    }
}



/* **************** Now Trending carousel ****************** */

    /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper2 {
  /* max-width: 1100px; */
  width: 100%;
  position: relative;
}

.wrapper2 .carousel2{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel2::-webkit-scrollbar {
  display: none;
}
.carousel2.no-transition {
  scroll-behavior: auto;
}
.carousel2.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel2.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel2 :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel2 .card {
  cursor: pointer;
  /* padding-bottom: 15px; */
  flex-direction: column;
  border-radius: 8px;
}
.carousel2 .card .img {  
  width: 350px;

  
}
.card .img img {
  width: 350px;
  height:300px;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel2 .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 10px 0 5px;
}
.carousel2 .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper2 .carousel2 {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper2 .carousel2 {
    grid-auto-columns: 100%;
  }
}

.section2{
    /* padding: 50px; */
    height: 100vh;
}

/* ****************************** Workshops ****************** */
.workshops{
    margin-top: 50px;
}

.flex-workshops0{
        justify-content: space-evenly;
}

.left-workshop{
    width: 40vw;
}

.right-workshop video{
    width: 370px;
    border-radius: 10px;
    border: 8px solid #0f8add;
}

.workshops h1{
    font-size: 3rem;
    color: orange;
    text-transform: uppercase;
    /* margin-left: 15vw; */
   /* text-shadow: 4px 4px 8px rgb(255, 207, 119); */
}
.flex-workshops{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.workshop-box{
    margin: 20px 30px;
    text-align: center;
}

.workshop-box img{
    width: 300px;
    box-shadow: 10px 10px 20px grey;
    border-radius: 10px;
    /* border: 4px solid orange; */
    margin-bottom: 10px;
}

.b2 img{
    width: 300px;
}

.workshop-box img:hover{
    border: 8px solid orange;
}

@media screen and (max-width:850px) {
    .flex-workshops0{
        justify-content: space-evenly;
        flex-wrap: wrap;
}

.left-workshop{
    width: 80vw;
}

}

.content1{
    margin-right: 100px;
}

.content2{
    margin-left: 100px;
}

.age-workshops .d-flex{
    justify-content: center;
}

.content1,.content2{
    width: 40vw;
}

.content2 h1{
    font-size: 1.5rem;
}

.left-age-workshop h1{
    font-size: 1.5rem;
    color: orange;
    text-transform: uppercase;

}

.video-workshop video{
    width: 370px;
    border-radius: 10px;
    border: 5px solid #0f8add;
}

.age-workshops .d-flex{
    flex-wrap: wrap;
}


@media  screen and (max-width:784px) {
    .content1,.content2{
        width: 80vw;
    }

    .age-workshops .d-flex2{
        flex-wrap: wrap-reverse;
    }

   /* .d-flex{
    margin: auto;
   } */

   .d-flex2{
    width: 80vw;
   }

   .content2{
    margin-left: 20px;
   }

   .video-workshop{
    margin-top: 10px;
   }

}



@media  screen and (max-width:993px) {
    
    #current-time{
        margin-left: 25vw;
    }
}

@media  screen and (max-width:1360px) {
    
    #current-time{
        margin-left: -200px;
    }
}

@media screen and (max-width: 1360px) and (min-width: 990px) {
    #current-time {
        margin-left: 20vw;
    }
}


@media screen and (max-width:768px) {
    .content1,.content2{
        width: 90vw;
        margin: auto;
    }

    .d-flex2{
        width: 90vw;
        margin: auto;

    }
    
}
