


.accordian{
    margin-left: 100px ;
}

.accordian li{
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 10px 10px;
    /* border: 2px solid black; */
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px 8px rgb(173, 173, 173);
    border-radius: 10px;

}

.accordian li label{
    display: flex;
    align-items: center;
   letter-spacing: 1.2px;
    font-size: 1.3vw;
    font-weight: 500;
    cursor: pointer;
    font-stretch:ultra-expanded;
    font-weight: 600;
}
.accordian label::before{
    content: '+';
    margin-right: 15px;

    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    font-stretch:ultra-expanded;

    border-radius: 50%;
    outline: 2px solid #000000;
    transition-property:
        outline-offset, outline-color,
        background-color;
    /* transition-duration: .25s;   */
   
}

.accordian label:hover::before {
    background-color: #000000;
    color: aliceblue;
}

.accordian input[type="checkbox"]{
    display: none;
}

.accordian .content{
    color: #555;
    width: 400px;
    margin-left: 30px;
   padding: 0 10px; 
   line-height: 16px;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.5s,padding 0.5s;

}

.accordian input[type="checkbox"]:checked + label + .content{
    max-height: 400px;
    padding: 0px 10px;
    

}
.accordian input[type="checkbox"]:checked+.content{
    background-color: #ffffff;
}
.accordian input[type="checkbox"]:checked + label::before{
    content: "-";
    
}

.content p{
    border-left: 3px solid rgb(240, 24, 208);
    padding: 3px 6px;

}

/* ********** section 2 ********** */


 
  /* ************** Edited code for index *********** */
  /* .inside-mentoons{
    margin-top: 120px;
  }

  .left-dfs{
    top: 144vh;
  }

  .carousel img{
    width: 350px;
    margin: 30px 30px;
    border-radius: 10px;
    
  } */

  