body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home{
    background: url("../Images/workshops/back-home.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100vw;
    /* height: 100vh; */
    
}

.nav-bar {
    margin-left: 240px !important;
    font-size: 1.3rem;
    
}
.nav-item{
    margin-left: 20px !important;
}
.home{
    width: 100vw;
    /* height: 100vh; */
}

.navbar{
    background-color:#52b2cf !important ;
    color: white !important;
    /* position:fixed; */
    width: 100%;
}

.join-us-btn{
    background:linear-gradient(rgb(232, 167, 167), rgba(225, 76, 101),rgb(240, 28, 95));
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 1.3rem;
    color: white;
    border: 3px solid white;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    margin-right: 100px;
}
.benifit-bar{
    background-color: rgb(248, 213, 36);
    padding-top: 10px ;
    padding-bottom: -10px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
.left{
    margin-right: 100px;
    margin-left: 100px;
}

.left .first{
    width: 400px;
}

.left .second{
    width: 650px;
}
.content p{
    width: 40vw;
    text-align: justify;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

.right img{
    width: 30vw;
}

.flex-box{
    justify-content: center;
    align-items: center;
}



.section2{
    background: url("../Images/workshops/background-secondpage.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100vw;
    height: auto;
}
.round {
    position: relative;
    margin: 15px;
    border-radius: 50%;
    padding: 5px;
}

.round img {
    width: 130px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid purple;
    padding: 5px;
}

.round img:hover{
    border: 4px solid orange;
    cursor: pointer;
}


/* @media screen and (max-width:700px) {
    .flex-box{
        text-align: center;
    }
    #home-img{
        width: 550px;
        margin-right: 100px;
    }
    .left-home {
     
        margin-left: 0px;
    }
    
    .right-home{
        background: none;
    }

    .section2{
        background: none;
    }
} */

.benifits-story-flex{
    justify-content: center;

}

.left-story{
    width: 40vw;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-story ul{
    list-style: none;
}

.left-story ul li{
    margin-bottom: 10px;
}

.left-story ul li img{
    width: 15px;
    margin-right: 7px;
}

.right-story img{
    width: 400px;
    border-radius: 10px;
}

@media screen and (max-width:833px) {
    .left-story{
        width: 80vw;
    }
    
}           

@media screen and (max-width:1100px) {
    .left{
        margin-right: 50px;
    }

    .right img{
        width: 40vw;
    }
    
}