body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-bar {
    margin-left: 240px !important;
    font-size: 1.3rem;
    
}
.nav-item{
    margin-left: 20px !important;
}
.home{
    width: 100vw;
    height: 100vh;
}

.navbar{
    background-color:#52b2cf !important ;
    color: white !important;
    /* position:fixed; */
    width: 100%;
}
.join-us-btn{
    background:linear-gradient(rgb(232, 167, 167), rgba(225, 76, 101),rgb(240, 28, 95));
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 1.3rem;
    color: white;
    border: 3px solid white;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    margin-right: 100px;
}

.benifit-bar{
    background-color: rgb(248, 213, 36);
    padding-top: 10px ;
    padding-bottom: -10px ;
    justify-content: space-evenly;
    align-items: center;
}

.head h1{
    /* color: orange; */
    font-size: 2.5rem;
}

.box h5{
    /* background-color: gray; */
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid rgb(232, 38, 74);
    width: 90%;
    margin: auto;
}

.box img{
    width: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
    transition: border 0.2s ease;
}

.flex-box-home{
    justify-content: center;

}

.box{
    margin: 20px 25px;
    text-align: center;

}

.box img:hover{
    /* transform: scale(1.1); */
    box-shadow: 8px 8px 20px grey;
    margin-bottom: 10px;
    border: 4px solid rgb(232, 38, 74);
    /* animation: zoomOut 0.3s forwards; */
    cursor: pointer;
   
}


@keyframes zoomOut {
    from {
        transform: scale(1); /* Initial scale (no zoom) */
    }
    to {
        transform: scale(0.8); /* Final scale (zoom out) */
    }
}

.box img::before,
.box img::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    border: 2px solid #f2a23c;
    transition: width 0.3s ease;
}

.box img::before {
    left: 0;
}

.box img::after {
    right: 0;
}

.box img:hover::before,
.box img:hover::after {
    width: 100%;
}






.second-box img{
    width: 420px;
    margin-top: 0px !important;
}

.head button{
    margin: 10px 25px;
    padding: 5px 15px;
    background-color: rgb(232, 38, 74);
    border: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 7px;
    
}
.flower{
    animation: spin 2s linear infinite;
}

.div{
    justify-content: center;

}



@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { transform: rotate(360deg); }
  }

/* .f1{
    left: 250px;
}

.f2{
    right:250px;
} */
.wave{
    position: absolute;
    bottom: 20px;
}

.wave2{
    position: absolute;
    top: 170px;
    right: 0px;
}



/* ************** editing for index ******* */
.flex-box-work{
    justify-content: center;

}