body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}


.navbar{
    background-color:#52b2cf !important ;
    color: white !important;
    /* position:fixed; */
    width: 100%;
}
.join-us-btn{
    background:linear-gradient(rgb(232, 167, 167), rgba(225, 76, 101),rgb(240, 28, 95));
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 1.3rem;
    color: white;
    border: 3px solid white;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    margin-right: 100px;
}

.benifit-bar{
    background-color: rgb(248, 213, 36);
    padding-top: 10px ;
    padding-bottom: -10px ;
    justify-content: space-evenly;
    align-items: center;
}

       .navbar{
        display: flex;
        justify-content: space-evenly;

       }

       .right-nav img{
        width:500px;
        height: 274px;
       }

        /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper{
  display: flex;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 40px;
  width: 40px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 40px;
  border: 1px solid #343F4F;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -45px;
  display: none;
}
.wrapper i:last-child{
  right: -54px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 280px;
  object-fit: cover;
  user-select: none;
  margin-left: 25px;
  width: calc(100% / 3);
  border-radius: 10px;
  
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

.now-trending{
    margin-left: 12vw;
}

.heading i{
    width: 35px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 1px soli grey !important;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
}
.heading{
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(233, 233, 233);
    padding: 25px 15px;
}

.flex-box-main{
    display: flex;
    justify-content: space-evenly;
}
.blue-background{
    text-align: justify;
    width: 70vw;
    /* margin-left: 100px; */
    margin: auto;
    padding: 25px;
    background: url("../Images/workshop/blue-back.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* margin-right: 60px; */
    padding-bottom:50px;
    padding-left: 50px;
    
}

.blue-background hr{
 
}

.blue-background p{
    width: 80%;
    /* margin: auto; */
    margin-top: 10px;
    font-size: 1.1rem;

}

.video{
    margin-top: 55px;
    text-align: center;
}

.blue-background video{
   border-radius: 15px;
   
}

.right-bb img{
    width: 150px;
}

.flex-box-main .right{
    position: absolute;
    right: 10px;
    margin-left: 100px;
    margin-top: 70px;
}

.flex-box-main .right img{
    width: 100px;
    display: block;
    margin-top: 10px;
    
}

.wrapper2{
    width: 90% !important;
}

.age-categories{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-around;
    width:75vw ;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    
}

.age-categories div{
    background-color: white;
    /* padding: 15px 45px; */
    border-radius: 10px;
    text-align: center;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    
}

.age-categories p{
    width: 60px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    /* border: 1px solid black; */
}

.age-categories span{
    display: block;
}

.details{
    display: flex;
    justify-content: center;
}

.box img{
    width: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
    transition: border 0.2s ease;
}
  

.box{
    margin: 20px 25px;
    text-align: center;

}

.box img:hover{
    /* transform: scale(1.1); */
    box-shadow: 8px 8px 20px grey;
    margin-bottom: 10px;
    border: 4px solid rgb(232, 38, 74);
    /* animation: zoomOut 0.3s forwards; */
    cursor: pointer;
   
}

.last{
    position: relative;
}

.heading-last{
    background-color:#60C0BC ;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 60px;
    color: white;

}

.form{
    position: absolute;
    /* bottom: 30px; */
    top: 120px;
    background-color: #f0f0f0;
    border-top: 4px solid #3a817f;
    /* text-align: center; */
    width: 500px;
    padding: 20px;
    left: 33%;
    margin-bottom: 30px;
}

.form form{
    width: 80%;
    margin: auto;
}

form input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;
}

.item2{
    display: flex;

}

.item22 input{
    margin-left: 5px;

}


.btn img{
    margin: auto;
    margin-left: 80px;
   
}

.wrapper2 .carousel img{
    width: 300px;
}

.right-bb{
    position: absolute;
    top: -630px;
    right: -40px;
}

.right-bb img{
    width: 150px;
    display: block;
}

.carousel-img{
    display: flex;
    justify-content: center;
}

.carousel-img img{
    width: 280px;
    margin-left: 15px;
    border-radius: 10px;
}