
body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* *********************** Home **********************/
.home{
    width: 100vw;
    height: 100vh;
}



.navbar{
    width: 100%;
}

.join-us-btn{
    background-color: red;
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 1.3rem;
    color: white;
    /* border: 3px solid white; */
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    margin-right: 100px;
}

.navbar-nav{
    margin-left: 300px;
    font-size: 1.3rem;

}

.navbar-nav li{
    margin-left: 15px;
}

.flex-box-home{
    display: flex;
    justify-content: center;

}

.flex-box-home .left{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

}

.left p{
    width: 500px;
}

.right{
    /* margin-left: 100px; */
}

.right-side-page h3 ,p,img{
    display: inline;
}
.right-side-page{
    /* margin-left: 100px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
   
}

.left-third{
    margin-left: 0px !important;
}

.right-side-page p{
    width: 500px;
}

.third-right{
    /* margin-left: 100px; */
}

.flex-box-home{
    justify-content: space-around;
}

/* **************************** Image carousel ******************** */

        /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 35px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #f3f3f4;
}
.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}
.wrapper i{
  top: 50%;
  height: 40px;
  width: 40px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 40px;
  border: 1px solid #343F4F;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -45px;
  display: none;
}
.wrapper i:last-child{
  right: -54px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 400px;
  object-fit: cover;
  user-select: none;
  margin-left: 25px;
  width: calc(100% / 3);
 
  
}
.carousel img:first-child{
  margin-left: 0px;
}


@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

.form{
    width: 500px;
    margin: auto;
    padding-bottom: 40px;
}
.last{
    text-align: center;
}

.last textarea{
    width: 500px;
    background-color: rgb(234, 234, 234);
}

.last h6{
    width: 500px;
    margin: auto;
    font-weight: 600;

}

.send-button{
    margin-top: 6px;
    width: 500px;
    padding: 5px;
    font-size: 1.2rem;
    background-color: rgb(214, 40, 40);
    border: none;
    color: white;
}